{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Employees</h2>
    <a href="{% url 'create_employee' pk=pk %}" class="btn btn-teal mb-3">+ New Employee</a>
</div>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID Number</th>
            <th>Rate</th>
            <th>Allowance</th>
            <th>Overtime</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.id_number }}</td>
            <td>{{ employee.rate }}</td>
            <td>{{ employee.getAllowance }}</td>
            <td>{{ employee.getOvertime }}</td>
            <td style="white-space: nowrap;">
                <form method="post" action="{% url 'update_employee' pk=pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id_number" value="{{ employee.id_number }}">
                    <button type="submit" class="btn btn-warning btn-sm">Update</button>
                </form>

                <form method="post" action="{% url 'delete_employee' pk=pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id_number" value="{{ employee.id_number }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>

                <form method="post" action="{% url 'add_overtime' pk=pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id_number" value="{{ employee.id_number }}">
                    <input type="number" name="overtime_hours" step="0.01" placeholder="Hours" min="1" class="form-control form-control-sm" style="width:70px; display: inline-block; vertical-align: middle;" required>
                    <!-- PLACEHOLDER SOURCE: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Attributes/placeholder--> 
                    <button type="submit" class="btn btn-info btn-sm">Add OT</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No employees found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}