{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">

    <!-- header -->
    <div class="row mb-2 text-center">
        <div class="pb-2">
            <h2>Create Employee</h2>
        </div>
        <hr>
    </div>

    <!-- form -->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 border p-4 shadow-sm rounded">

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="text-dark fs-6 mb-1">Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="text-dark fs-6 mb-1">ID Number:</label>
                    <input type="text" min="1" name="id_number" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="text-dark fs-6 mb-1">Rate</label>
                    <input type="number" name="rate" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="text-dark fs-6 mb-1">Allowance (optional)</label>
                    <input type="number" min="0" name="allowance" class="form-control">
                </div>


                <button type="submit" class="btn btn-primary w-100 mb-2">
                    Submit
                </button>


            </form>

        </div>
    </div>
</div>

{% endblock %}